.arrival, .departure, .date{
    display: flex;
    margin: 5px;

    & .text{
        margin-right: 10px;
    }

    & input{
        margin-top: 5px;
    }
}

.flights{
    display: block;
    margin-top: 20px;
}